.control-group
  = form.label field_label, :class => 'control-label'
  .controls
    %div#datepicker.input-prepend.date
      %spam.add-on
        %i.icon-calendar
      = form.text_field field_name, "data-behaviour"=>"datepicker", "language" => "es", :readonly => :readonly, :class => "input-date #{style_class}"
