= form.label field_label
%div#datepicker.input-append.date
  = form.text_field field_name, "data-behaviour"=>"datepicker", "language" => "es", :readonly => :readonly, :class => "input-date #{style_class}"
  %spam.add-on
    %i.icon-th