.control-group
	= form.label field_label, :class => 'control-label'
	.controls
		%div#mail_field.input-prepend
			%span.add-on
				%i.icon-envelope
			= form.text_field field_name, :class => "mail_text #{style_class}"
