.control-group
	= form.label field_label, :class => 'control-label'
	.controls
		= form.text_field field_name, "data-provide" => "typeahead", :class => style_class, :number_field => true, :maxlength => max_length
