%p
  = f.label translate_attribute(@entity_name,name)
  = collection_select(                   |
        :user,                           |
        :role_ids,                       |
        all,                             |
        :id, :name,                      |
        {                                |
          :selected => selected_ids      |
        },                               |
        {                                |
            :multiple => true,           |
            :role => 'user[role_ids][]', |
            :class => :multiselect       |
        }                                |
    )                                    |
