.field
  = f.label translate_attribute(@entity_name,name)
  - entities = []
  - if local_assigns.has_key? :all and all != nil 
    - entities = all
  - else
    - entities = eval(variable_name("#{name}s"))
  - options = entities.collect {|an_entity| [h(an_entity.to_s), an_entity.id] }
  - entity_id_name = "#{name}_id"
  = f.select(entity_id_name, options, {}, {:class => 'selectpicker'})
