/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 *= require dataTables/jquery.dataTables.bootstrap
 *= require bootstrap-select
 *= require bootstrap-spinedit
 *= require bootstrap_and_overrides
 */

.session_top {
  margin-top: 10px;
}


 /* Begin Sticky footer  */
 html, body {
  height: 100%;
}
footer {
  text-align: center;
  font-size: 12px;
  color: rgb(165, 159, 159);
  background: #2c3e50;
  height: 13px;
  padding: 0 10px 10px 13px;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #efefef;
}
#wrapper .container {
  padding-bottom: 35px;
}
footer p {
  margin: 0;
  padding-top: 3px;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -23px;
}
.push {
  height: 28px;
}
/* not required for sticky footer; just pushes hero down a bit */
#wrapper > .container {
  padding-top: 45px;
}
/* End Sticky footer  */


.options { width: 1%; }

.nested-item-button { padding: 9px }

.label-inline {
  width: auto;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

#flash_error, #flash_alert, #flash_notice { 
  font-size: 15px;
  font-weight: bold;
}

.separator-bar { margin: 10px 0px; }

/*
.nav-tabs > li > a {
  font-size: 15px;
  font-weight: bold;
  color: #006DCC;
}

.nav-tabs > li > a:hover {
  font-size: 15px;
  font-weight: bold;
  color: #003B6F;
}
*/

.nested-form-panel {
  background-color: #F1F1F1;
  border: 1px solid #BCE8F1;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
  padding-bottom: 10px;
  overflow: auto;
}
.antecedent_form_panel {
  padding-top: 52px;
}
.contact_header {
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #BCE8F1;
}

.medical-history-form-panel {
  overflow: auto;
}
#mail_field .icon-envelope {
  padding-top: 0px;
  margin-left: 0px;
}
#mail_field .mail_text {
  width: 178px;
}

#datepicker .input-date {
  width: 178px;
}

#datepicker .icon-calendar {
  margin-top: 3px;
  margin-left: 0px;
}

.remove_nested_fields {
  float: right;
}

#antecedents .remove_nested_fields {
  margin-top: -41px;
}

.remove_nested_fields {
  float: right;
}

.remove_nested_fields_icon {
  padding-bottom: 2px
}

.allergy_observations, .disease-observations, .medical_exam_results, .medical_exam_observations {
  width: 99%;
  height: 86px;
}

.patient_height, .patient_weight {
  width: 32px;
}

.antecedent_description {
  height: 80px;
  width: 99%;
}

.nested_entity_errors {
  color: #3a87ad;
  font-weight: bold;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -20px;
}
