var specializationSelect = new ParentSelectTag("specialization", "all");
var medicalSelect = new RelatedSelectTag("medical", ["all","#{t 'form.select.all.male'}"] );

- for medical in @medicals
	medicalSelect.addOption("#{medical.medical_specialization_id }", "#{medical.to_s}", "#{medical.id}");

$(document).ready(function() {
medicalSelect.updateFrom(specializationSelect);
medicalSelect.updateInOnChangeFrom(specializationSelect);
});