- content_for :content do
	.row
		= yield :session
		.span7
			.row-fliud
				.span7.session_message
					%blockquote.pull-right
						Cuando sus clientes en realidad son <span class="highlight-text">Pacientes</span>, sabe que debe procesar información sensible con extrema eficiencia. <span class="highlight-text">Historiales clínicos</span>, <span class="highlight-text">Seguimiento de tratamientos</span>, <span class="highlight-text">Consultas</span>, <span class="highlight-text">Atention de Turnos</span>, etc. Ahora esa información puede ser procesada de forma óptima gracias al <span class="highlight-text">Servicio Integral de Gestion Médica</span>, que <span class="highlight-text">BAMBU Solutions</span> incorpora a su cartera de soluciones para profesionales. Un software ideal para la administración de datos de sus pacientes que incluye una excelente interfase de control de turnos, de manejo realmente intuitivo. Esta es la herramienta administrativa que usted estaba esperando para organizar su consultorio, centro médico u obra social
						%small
							BAMBU Solutions
				.span7
					%img.align-right.bottom.photo_login{:src => '/assets/images/medical.jpg'}
= render :file => 'layouts/application'